.banner{
  background-color: #66CDAA;
  color: #ffffff;
  height: 70px;
  margin-bottom: 0px;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}

.content{
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.search-entity{
  display: flex;  
  width: 800px;
  
  justify-content: center;
  margin: 5px;
}

.btn{
  font-size: 14px;
  text-align: center;
  margin-top: 5px; 
  margin-left: 20px;
}


.result{
  text-align: center;
  background-color: rgb(240, 248, 243) ;
  padding: 20px 400px;
  margin: 20px;
}